<!DOCTYPE html>
<!-- 13. 表单 -->
<html>

<head>
    <title>Vue Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="form">
        <label for="username">昵称：</label>
        <input type="text" id="username" v-model.trim="username">
        <br>
        <label for="age">年龄：</label>
        <input type="number" id="age" v-model.number="age">
        <br>
        <label for="checkbox">单身：</label>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <br>
        <label>喜欢：</label>
        <input type="checkbox" id="runoob" value="Runoob" v-model="checkedNames">
        <label for="runoob">Runoob</label>
        <input type="checkbox" id="google" value="Google" v-model="checkedNames">
        <label for="google">Google</label>
        <input type="checkbox" id="taobao" value="Taobao" v-model="checkedNames">
        <label for="taobao">taobao</label>
        <br>
        <br>
        <input type="submit" v-on:click="submit" />
        <br />
        <br />
        <span>昵称: {{ username }}</span>
        <br>
        <span>年龄: {{ age }}</span>
        <br>
        <span>单身: {{ checked }}</span>
        <br>
        <span>喜欢: {{ checkedNames }}</span>
    </div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#form',
        data: {
            //初始值
            username: 'zhangsan',
            age: 18,
            checked: false,
            checkedNames: ['Runoob']
        },
        methods: {
            //提交表单
            submit: function () {
                var params = new Object();
                params.username = this.username;
                params.age = this.age;
                params.checked = this.checked;
                params.checkedNames = this.checkedNames;
                alert("formdata：" + JSON.stringify(params));
            }
        }
    });

    //vue外部获取vue内部值
    console.log(vm.username);
    console.log(vm.age);
    console.log(vm.checked);
    console.log(vm.checkedNames);

</script>

</html>